@import "tailwindcss";

:root {
  --background: #101010;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-grey: #D9D9D9;

  /* Fonts */
  --font-funnel: "Funnel Display", sans-serif;
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;

  /* Breakpoints */
  --breakpoint-2md: 57rem;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-spiral-black) var(--color-spiral-grey);
}

body {
  background: var(--background);
  font-family: theme("fontFamily.sans");
  text-wrap: balance;
  text-rendering: optimizeLegibility;

  u {
    text-decoration: none;
  }
}

@layer utilities {
  .dashed-all {
    @apply relative after:absolute after:inset-0;
    /* Bottom dash */
    @apply after:bg-[linear-gradient(to_right,white_12px,transparent_4px)] after:bg-bottom after:bg-[length:16px_1px] after:bg-repeat-x;
    /* Top dash */
    @apply after:bg-[linear-gradient(to_right,white_12px,transparent_4px)_top] after:bg-[length:16px_1px] after:bg-repeat-x;
    /* Right dash */
    @apply after:bg-[linear-gradient(to_bottom,white_12px,transparent_4px)_right] after:bg-[length:1px_16px] after:bg-repeat-y;
    /* Left dash */
    @apply after:bg-[linear-gradient(to_bottom,white_12px,transparent_4px)_left] after:bg-[length:1px_16px] after:bg-repeat-y;
  }

  .dashed-bottom {
    @apply relative after:absolute after:left-0 after:right-0 after:bottom-0 after:h-px after:bg-[length:16px_1px] after:bg-repeat-x after:bg-[linear-gradient(to_right,white_12px,transparent_4px)];
  }

  .dashed-top {
    @apply relative before:absolute before:left-0 before:right-0 before:top-0 before:h-px before:bg-[length:16px_1px] before:bg-repeat-x before:bg-[linear-gradient(to_right,white_12px,transparent_4px)];
  }

  .dashed-right {
    @apply relative after:absolute after:top-0 after:bottom-0 after:right-0 after:w-px after:bg-[length:1px_16px] after:bg-repeat-y after:bg-[linear-gradient(to_bottom,white_12px,transparent_4px)];
  }

  .dashed-left {
    @apply relative before:absolute before:top-0 before:bottom-0 before:left-0 before:w-px before:bg-[length:1px_16px] before:bg-repeat-y before:bg-[linear-gradient(to_bottom,white_12px,transparent_4px)];
  }
}